body{
  flex: 1;
  display: grid;
 
}
.corpo-perfil {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-self: center;  
  
  background: blue;
  opacity: 60%;
  padding: 30px;
}

.dono {
  flex: 1;
  max-width: 500px;
  min-width: 400px;
  height: 100%;
  border-width: 5px;
  background-color: blueviolet;
  padding: 5px;
  margin: 10px;
  
}

.corpo-animais {
  flex: 1;
  height: 100%;
  min-width: 400px;
  border-width: 5px;
  background: crimson;
  padding: 5px;
  margin: 10px;
  justify-content: space-around;
}

.lista-animais-dono {
  background: springgreen;
  height: 100%;
  border-width: 5px;
  padding: 5px;
  margin: 10px;
}
