body {
  padding: 0px;
  margin: 0px;
}
p:hover {
  text-decoration: none;
}

.corpo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

.container {
  display: flex;
  width: 100%;
  min-width: 480px;
  background: aliceblue;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;

  border-radius: 8px;

  padding: 10px;
}

.textos {
  width: 200px;
  word-spacing: 2px;
  padding: 2px;
}

.botao{
  display: flex;
justify-content: space;
flex-wrap: wrap;
align-content: center;
}
