body {
  padding: 0px;
  margin: 0px;
}
p:hover{
  text-decoration: none;
}

.link:link{
  color: green;
}
.corpo {
  display: grid;  
  justify-content: space-around;
  align-content: center;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  min-width: 480px;

  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;

  border-radius: 8px;
  background: #c4d49f;
  padding: 10px;
}

.miolo {
  flex: 1;
  flex-direction: row;
  display: flex ;
  width: 400px;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border-style: groove;
  text-decoration: none;
}

.img img {
  width: 180px;
  border-radius: 50%;
  align-items: center;
  margin-top: 16px;
}

.textos {
  width: 200px;
  word-spacing: 2px;
  padding: 2px;
}
